.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.container:focus {
  outline: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media (max-height: 730px) or (max-width: 730px) {
  .content {
    justify-content: center;
    align-items: center;
  }
}