.restart {
  position: relative;
  min-width: 3rem !important;
  min-height: 3rem !important;
  margin-bottom: 1.5rem;
  background-color: var(--frame-color);
  border: 1px var(--shadow-inverse) solid;
  border-radius: 50%;
  box-shadow: var(--frame-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.restart:hover {
  .logo {
    rotate: 360deg;
  }
}

.restart:focus {
  outline: none;
  box-shadow: var(--frame-shadow-inset);
  .logo {
    rotate: 360deg;
  }
}

.restart:active {
  box-shadow: var(--frame-shadow-inset);
}

.logo {
  color: var(--font-color);
  transition: all 0.3s ease;
}

@media (max-height: 655px) or (max-width: 768px) {
  .restart {
    transform: scale(.8);
  }
}