.select {
  border-radius: 5px;
  height: 2rem;
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  color: var(--font-color);
  cursor: pointer;
  option {
    background-color: var(--frame-color);
    border: none;
  }
}

.select:focus {
  outline: none;
  background-color: var(--shadow);
}

@media (max-width: 530px) or (max-height: 670px)  {
  .select {
    display: none;
  }
}