.frame {
  width: 80%;
  max-width: 1000px;
  border: 2rem solid var(--frame-color);
  border-radius: 15px;
  aspect-ratio: 21/9;
  box-shadow: var(--frame-shadow);
  background-color: var(--inner-frame-color);
}

.inset-frame {
  background-color: var(--inner-frame-color);
  border-radius: 5px;
  box-shadow: var(--frame-shadow-inset);
  height: 100%;
  padding: 5px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  overflow: hidden;
}

.row {
  display: flex;
  flex: 1;
  height: 100%;
  min-height: 35px;
  min-width: 35px;
  max-height: 88px;
  gap: 5px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (max-height: 800px) or (max-width: 730px) {
  .frame {
    display: none;
  }
}