.selector {
  width: 3rem;
  height: 3rem;
  border: none;
  padding: 0;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
}

.selector:focus {
  outline: none;
}

.overlap {
  position: relative;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: var(--inner-frame-color);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  div {
    z-index: 1;
  }
  transition: all 0.3s ease;
}

.overlap::after {
  content: "";
  position: absolute;
  transform: translate(50%, -50%);
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: var(--frame-color);
  top: -30px;
  right: -30px;
  transition: all .5s ease;
}

.overlap:hover {
  rotate: 360deg;
  background-color: var(--accent-blue);
}

.active {
  width: 25px;
  height: 25px;
  .sun {
    visibility: hidden;
  }
}

.active::after {
  content: "";
  position: absolute;
  top: .5rem !important;
  right: .5rem !important;
}

.sun {
  width: 25px;
  height: 25px;
  color: white;
  transition: all 0.3s ease;
}

.sun:hover {
  color: salmon;
  rotate: 360deg;
}